html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-text);
}

h1, h2, h3, h4 {
  font-family: var(--font-title);
  letter-spacing: 1px;
  margin: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}