.films-populaires__grille {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  
    @include respond(desktop-small) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.2rem;
    }
  
    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    @include respond(mobile) {
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }
  }